<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
  <article class="prose">
  {{#each post}}
  <h1>{{this.title}}</h1>
  <p>{{this.description}}</p>
  {{/each}}
  </article>
  </div>
</section>